@font-face {
  font-family: "UA_Delphian-ATT";
  font-style: normal;
  font-weight: normal;
  src:
    url("../fonts/16052.ttf") format("truetype");
}

@font-face {
  font-family: "chelsea";
  font-style: normal;
  font-weight: normal;
  src:
    url("../fonts/8763.ttf") format("truetype");
}
